.calendar{
    width: 100%;
    background-color: #dfe6e9;
    height: 100%;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}
.month{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: #63c5da;
    color: #4c0121;
    padding: 30px 20px;
    box-sizing: border-box;
}
h6,h4{
    margin: 5;
    font-weight: 500;
    padding: 0;
}
h4{
    margin-top: -15%;
}
.daysOfWeek{
    margin: 0;
    display: flex;
    background-color: #4aa2b5;
    color: #4c0121;
    padding: 3px 0;
    font-size: small;
}
.daysOfWeek div {
    width: 14.28%;
    text-align: center;
}
.datesOfMonth{
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
}
.datesOfMonth div{
    margin-bottom: 6px;
    width: 14.28%;
    text-align: center;
    transition: all 0.4s;
}
.today{
    background-color: #add6de;
    color: brown;
}
.datesOfMonth div:hover{
    background-color: #c2cfd1;
    cursor: pointer;
}
.prevDate {
    color: #949b9c;
}
#month{
    font-size: 17px;
}
.previous, .next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #4aa2b5;
    border-radius: 50%;
    transition: all 0.4s;
}
.previous:hover, .next:hover{
    background-color: #3a8291;
    cursor: pointer;
} 

