.calendar{
    width: 100%;
    background-color: #dfe6e9;
    height: 100%;
    box-shadow: 5px 10px 8px #aeaeae;
}
.month{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: rgba(76, 144, 228, 0.73);
    color: #4c0121;
    padding: 30px 20px;
    box-sizing: border-box;
    font-size: 25px;
}
h6,h4{
    margin: 5;
    font-weight: 500;
    padding: 0;
    font-size: 30px;
}

.daysOfWeek{
    margin: 0;
    display: flex;
    background-color: rgba(145, 186, 235, 0.73);
    color: #4c0121;
    padding: 3px 0;
    font-size: x-large;
}
.daysOfWeek div {
    width: 14.28%;
    text-align: center;
}
.datesOfMonth{
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
    font-size: 50px;
}
.datesOfMonth div{
    margin-bottom: 6px;
    width: 14.28%;
    text-align: center;
    transition: all 0.4s;
}
.today{
    background-color: rgba(198, 216, 238, 0.73);;
    color: brown;
}
.datesOfMonth div:hover{
    background-color: #c2cfd1;
    cursor: pointer;
}
.prevDate {
    color: #949b9c;
}
#month{
    font-size: 48px;
}
.previous, .next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(145, 186, 235, 0.73);
    border-radius: 50%;
    transition: all 0.4s;
    margin-top: 5%;
}
.previous:hover, .next:hover{
    background-color: rgba(55, 138, 238, 0.73);
    cursor: pointer;
} 

