body{
    font-family: sans-serif;
}
.researchTips{
    margin-left: 200px;
    height: 120%;
    width: 184px;
    /* overflow: scroll; */
    overflow-x: scroll;
}
 #researchTips{
    border: none;
    background-color: white;
    padding: 2% 1%; 
    border-radius: 3px;
    width: 180px;
}
#youtubeLink{
    margin-top: 5px;
    height: auto;
    width: 180px;
    border-radius: 3px;
    border: none;
}
#chooseTopic {
    border: none;
    background-color: white;
    padding: 2% 1%; 
    border-radius: 3px;
    width: 180px;
}
.topic{
    margin-left: 200px;
    height: 100%;
    width: 184px;
    overflow: scroll;
}