body{
    font-family: sans-serif;
}
.container{
    white-space: nowrap;
    overflow-x: auto;
    display: inline-flex;
    height: 100%;
}
.column{
    /* height: 120%;
    width: 184px;
    display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: normal;
}
.content{
    overflow-y: auto;
}
 .title{
    border: none;
    background-color: white;
    padding: 2% 1%; 
    border-radius: 3px;
    width: 170px;
}
#youtubeLink{
    margin-top: 5px;
    height: auto;
    width: 180px;
    border-radius: 3px;
    border: none;
    font-size: auto;
}
