body{
    /* background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(76, 144, 228, 0.73)); */
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255 );
    font-family: sans-serif;
}

.projectType {
    display: inline-flex;
    vertical-align: middle;
    width: 20%;
    height: 400px;
    /* border: 2px solid rgba(197, 199, 218, 0.52); */
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5%;
    text-align: center;
    background-color: rgba(126, 176, 238, 0.5);
    font-size: 20px;
    box-shadow: 5px 5px 8px #aeaeae;
    color: #4c4c50;
    padding: 0;

}

.projectType:hover {
    transform: scale(1.1);
}

.headings{
    display: inline-block;
    width: 100%;
    height: 100%;
    /* right: 90%; */
    background-image:
    linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(76, 144, 228, 0.73)),
    url('headerImage.jpeg');
    background-size: cover;

}
.heading{
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0%;
    text-align: center;
    top: 25%;
    font-size: 75px;
    color: rgb(57, 55, 55);
}
.epq{
    display: inline-block;
    position: absolute;
    left: 78%;
    top: 5%;
    color: rgba(231, 232, 244, 0.52);
    text-decoration: none;
    height: auto;
    width: auto;
    border: 0.5px solid rgba(231, 232, 244, 0.52);
    padding: 10px;
}
    
.epq:hover, .epq:focus {
    color: rgba(231, 232, 244, 0.52);
    transform: translateY(-6px);
    border-color: rgba(231, 232, 244, 0.52);
  }
  
.quote{
    display: inline-block;
    position: absolute;
    align-items: center;
    width: 100%;
    left: 0%;
    top: 40%;
    color: rgb(57, 55, 55);
    font-family:cursive;
    text-emphasis: bold;
    font-size: 30px;
}
#aboutYourProject{
    color: #373D3F;
    padding: 50px 0;
    margin: 0.5%;
    text-align: center;
    font-size: 60px;
}
.intro{
    padding: 0.5% 5% 5% 5%;
   
}

.projectTitle{
    text-align: center;
}

.projectDetails{
    font-size: 15px;
    margin: 5px 5px 5px 5px;
    text-align: center;
}
.date {
    display: inline-block;
    width: 100%;
    /* margin: 2%; */
    font-size: 25px;
    color: #373d3f;
}
.datepicker{
    display: inline-block;
    width: 200px;
    margin:auto 14%;
}
.mtr-row{
    margin: 0px 30%;
}
#submit{
    display: block;
    align-items: center;
    text-align: center;
    color: rgb(57, 55, 55);
    text-decoration: none;
    border: 0.5px solid rgb(57, 55, 55);
    padding: 0.5% 0.5% 1% .5%;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;
    height: 15px;
    bottom: 20px;
    margin-top: 30px;
    margin-bottom: 20%;
}
#submit::before {
    content: '';
      border-radius: 1000px;
      min-width: calc(300px + 12px);
      min-height: calc(60px + 12px);
      border: 6px solid #00FFCB;
      box-shadow: 0 0 60px rgba(0,255,203,.64);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
    }
    
#submit:hover, #submit:focus {
    color: rgb(154, 179, 242);
    transform: translateY(-6px);
    border-color: rgb(154, 179, 242);
  }

  form{
      width: 100%;
  }


.Sections{
    display: inline-block;
    height: 200px;
    width: 190px;
    box-shadow: 5px 5px 8px #aeaeae;
    margin: 0.5%;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color: #373D3F;
    

}
.Sections:hover{
    transform: scale(1.1);
}

.startSticker, .endSticker{
    display: inline-block;
    height: 230px;
    width: 45%;
    /* border: solid 1px black; */
    margin: 2% 2% 1%;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color: rgb(57, 55, 55);
    background-color: rgba(136, 181, 236, 0.5);
    box-shadow: 5px 5px 8px #aeaeae;
}
.startSticker:hover, .endSticker:hover{
    transform: scale(1.1);
}
#weeksAvailable{
    display: block;
    height: 40px;
    width: 98%;
    border: solid 1px rgba(136, 181, 236, 0.5);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 0.5% 1% 1%;
    color: rgb(123, 125, 124);
}
.pTypesImages{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5% 5% 0 0;
}
#planYourProject{
    color: #373D3F;
    padding: 20px 0;
    margin: 0.5%;
    text-align: center;
    font-size: 60px;
}