body{
    background: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(76, 144, 228, 0.73));

}
/*styling the quotes*/
.header{
    display: inline;
    height: 70px;
    width: 100%;
    margin-top: -20%;
    font-size: 15px;
    font-family: cursive;
    overflow: hidden;
    color: rgb(57, 55, 55);;
}
.clock{
    top: 7%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(57, 55, 55);
    font-size: 26px;
    position: absolute;
    font-family: 'Bungee Shade', cursive;
    border: 0.5px solid black;
    padding: 0px 200px 0px 200px;
}
/*styling the logo here*/
#logo{
    border-radius: 5px;
    margin-top: -2%;
    width: 70px;
}
/* Style the tab */
.tab {
    margin-top: 2%;
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 25%;
    height: 350px;
    box-shadow: 5px 10px 8px #aeaeae;

}
/* Style the buttons inside the tab */
.tab button {
    display: inline-block;
    background-color: inherit;
    color: black;
    padding: 34px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    margin-top: 2%;
    margin-left: 1%;
    float: left;
    padding: 0px 12px;
    border: 0.5px solid #ccc;
    width: 66%;
    height: 86%;
}
/* for scrollbar*/
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(57, 56, 56);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #abaaaa;
}
.calendar{
    float: left;
    margin-top: -18%;
    width: 25%;
    background-color: #dfe6e9;
    height: 220px;
    box-shadow: 5px 10px 8px #aeaeae;
}
.month{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: rgba(76, 144, 228, 0.73);
    color: #4c0121;
    padding: 30px 20px;
    box-sizing: border-box;
}
h6,h4{
    margin: 5;
    font-weight: 500;
    padding: 0;
}
h4{
    margin-top: -15%;
}
.daysOfWeek{
    margin: 0;
    display: flex;
    background-color: rgba(145, 186, 235, 0.73);
    color: #4c0121;
    padding: 3px 0;
    font-size: small;
}
.daysOfWeek div {
    width: 14.28%;
    text-align: center;
}
.datesOfMonth{
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
}
.datesOfMonth div{
    margin-bottom: 6px;
    width: 14.28%;
    text-align: center;
    transition: all 0.4s;
}
.today{
    background-color: rgba(198, 216, 238, 0.73);;
    color: brown;
}
.datesOfMonth div:hover{
    background-color: #c2cfd1;
    cursor: pointer;
}
.prevDate {
    color: #949b9c;
}
#month{
    font-size: 17px;
}
.previous, .next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgba(145, 186, 235, 0.73);
    border-radius: 50%;
    transition: all 0.4s;
}
.previous:hover, .next:hover{
    background-color: rgba(55, 138, 238, 0.73);
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}


ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#weeklyChecklist{
    width:70%;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}
ul li.checked {
    color: rgb(3, 67, 3);
    background-color: rgb(67, 147, 67);
    text-decoration: line-through;
}

ul li.checked::before {
    position: absolute;
    content: "";
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: 0.5px solid black;
    border-radius: 0;
    width: 80%;
    padding: 10px;
    float: left;
    height: 7%;
    font-size: 16px;
}

.addBtn {
    height: 7%;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    align-items: center;
    float: left;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}
#progress {
    background: rgba(255, 255, 255, 0.708);
    color: black;
    width: 0%;
    height: 25px;
    margin: 0px;
    transition: width 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#progressBar {
    height: 25px;
    width: 42.5%;
    background: rgba(76, 144, 228, 0.139);
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}